In [1]:
import pandas as pd
import requests

In [2]:
response=requests.get('https://api.themoviedb.org/3/movie/top_rated?api_key=a99779c704ac10830a6130e61a18ab2b&language=en-US&page=1')

In [3]:
t_df=pd.DataFrame(response.json()['results'])[['id','title','overview','release_date','popularity','vote_average','vote_count']]

In [4]:
t_df.head()

,id,title,overview,release_date,popularity,vote_average,vote_count
0,278,The Shawshank Redemption,Imprisoned in the 1940s for the double murder ...,1994-09-23,161.739,8.705,26407
1,238,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",1972-03-14,157.122,8.693,20031
2,240,The Godfather Part II,In the continuing saga of the Corleone crime f...,1974-12-20,121.223,8.576,12092
3,424,Schindler's List,The true story of how businessman Oskar Schind...,1993-12-15,93.276,8.567,15497
4,389,12 Angry Men,The defense and the prosecution have rested an...,1957-04-10,75.047,8.544,8340

In [5]:
df=pd.DataFrame()

In [6]:
df

Empty DataFrame
Columns: []
Index: []

In [7]:
df_list = []

for i in range(1, 429):
    response = requests.get(f'https://api.themoviedb.org/3/movie/top_rated?api_key=a99779c704ac10830a6130e61a18ab2b&language=en-US&page={i}')
    t_df = pd.DataFrame(response.json()['results'])
    df_list.append(t_df)

df = pd.concat(df_list, ignore_index=True)
print(df)

      adult                     backdrop_path          genre_ids      id  \
0     False  /zfbjgQE1uSd9wiPTX4VzsLi0rGG.jpg           [18, 80]     278
1     False  /tmU7GeKVybMWFButWEGl2M4GeiP.jpg           [18, 80]     238
2     False  /b6w7gKLQLS2zw4JK0XmKgQ4gnzr.jpg           [18, 80]     240
3     False  /zb6fM1CX41D9rF9hdgclu0peUmy.jpg    [18, 36, 10752]     424
4     False  /qqHQsStV6exghCM7zbObuYBiYxw.jpg               [18]     389
...     ...                               ...                ...     ...
8555  False  /dIejmkCP46vN5a17u44phOGyAVR.jpg      [27, 35, 878]   68684
8556  False  /gOrSgSZqTOu6hVKGCcbo1jHIRat.jpg  [18, 27, 878, 53]    6171
8557  False  /gT4XVSEmGKOJ0EgSEUTfCeqgEtc.jpg      [878, 28, 53]     929
8558  False  /alsTIqT2ApBUUs8zEZEpmw1kDEa.jpg    [53, 10749, 18]  412105
8559  False  /wESuRMxELPAwo56qFRcoyI4p20F.jpg               [18]  254302

     original_language            original_title  \
0                   en  The Shawshank Redemption
1                   en             The Godfather
2                   en     The Godfather Part II
3                   en          Schindler's List
4                   en              12 Angry Men
...                ...                       ...
8555                en                 Detention
8556                en              Dreamcatcher
8557                en                  Godzilla
8558                en                You Get Me
8559                en                 High-Rise

                                               overview  popularity  \
0     Imprisoned in the 1940s for the double murder ...     161.739
1     Spanning the years 1945 to 1955, a chronicle o...     157.122
2     In the continuing saga of the Corleone crime f...     121.223
3     The true story of how businessman Oskar Schind...      93.276
4     The defense and the prosecution have rested an...      75.047
...                                                 ...         ...
8555  As a killer named Cinderhella stalks the stude...      15.200
8556  Four boyhood pals perform a heroic act and are...      19.455
8557  French nuclear tests irradiate an iguana into ...      48.521
8558  After arguing with his girlfriend, Ali, Tyler ...      18.971
8559  Life for the residents of a tower block begins...      20.782

                           poster_path release_date                     title  \
0     /9cqNxx0GxF0bflZmeSMuL5tnGzr.jpg   1994-09-23  The Shawshank Redemption
1     /3bhkrj58Vtu7enYsRolD1fZdja1.jpg   1972-03-14             The Godfather
2     /hek3koDUyRQk7FIhPXsa6mT2Zc3.jpg   1974-12-20     The Godfather Part II
3     /sF1U4EUQS8YHUYjNl3pMGNIQyr0.jpg   1993-12-15          Schindler's List
4     /ow3wq89wM8qd5X7hWKxiRfsFf9C.jpg   1957-04-10              12 Angry Men
...                                ...          ...                       ...
8555  /wLuMoe16Z27DH96B2vg4FQNiAjj.jpg   2012-04-06                 Detention
8556  /lLhvwLNU4pLgvaNREVFaQ4n3lCf.jpg   2003-03-21              Dreamcatcher
8557  /xJVl1I95StraYAwaNbBkVoWE2qA.jpg   1998-05-20                  Godzilla
8558  /5eV0mIQqSztD3McjO22EOFlQDj1.jpg   2017-06-19                You Get Me
8559  /h8d92L9T5Ty8olbkGGeqXIpzaj0.jpg   2015-11-22                 High-Rise

      video  vote_average  vote_count
0     False         8.705       26407
1     False         8.693       20031
2     False         8.576       12092
3     False         8.567       15497
4     False         8.544        8340
...     ...           ...         ...
8555  False         5.600         360
8556  False         5.618        1686
8557  False         5.618        3781
8558  False         5.617        1665
8559  False         5.600        1124

[8560 rows x 14 columns]

In [9]:
df.shape

(8560, 14)

In [10]:
df.to_csv('movies.csv')